# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules


.firebase/hosting.ZGlzdFxlQ29tbWVyY2U.cache
.firebase/hosting.ZGlzdFxlQ29tbWVyY2VcYXNzZXRz.cache
.firebaserc
database.rules.json
firebase.json
.firebaserc
.firebaserc
firebase.json
