section {
  height: 100vh;
}

section > form {
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  height: 80vh;
  background-color: rgba(226, 209, 186, 0.301);
  border:rgb(0, 0, 0) 4px solid;
  padding: 30px;
  border-radius: 50px;
  color: black;
  overflow: overlay;
}

.title > h2 {
  text-align: center;
}

form > button {
  margin: 15px auto;
  width: fit-content;
  right: 0px;
}

.requiredInput {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.customInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.customForm > input{
  width: 48%;
}

.send {
  width: 35%!important;
}

@media only screen and (max-width: 800px) {
  section > form {
    margin: 40px auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .customForm{
    flex-direction: column;
  }

  .customForm > input{
    width: 100%;
    margin: 10px 0 ;
  }
}
