<button class="btn btn-dark back" (click)="backClicked()">Go Back</button>

<section class="right">

  <div class="spinner">
    <mat-spinner *ngIf="spinner" class="loader"></mat-spinner>
  </div>

  <div class="containerProd">

      <div class="prodImage">
        <img class="img-fluid mx-auto d-block" [src]="productDetail?.imgUrl">
      </div>
      <div class="productDetail">
        <div class="detailContainer"    >
          <h2><b>{{ productDetail?.name }}</b></h2>
          <ul *ngIf="techList != null">
            <li *ngFor="let tech of techList">
              <b>{{ tech.key }}</b> : {{ tech.value }}
            </li>
          </ul>

          <p>{{ productDetail?.description }}</p>
          <h3>{{ productDetail?.price }}$</h3>
      </div>
      </div>
  </div>

  <div class="deleteContainer">
    <button *ngIf="!deleteButton" type="button" class="btn btn-dark" (click)="addToShoppingCart(productDetail.key)">Aggiungi al carrello</button>
    <button *ngIf="deleteButton" class="deleteProduct btn btn-danger" (click)="deleteProduct()">Delete</button>
  </div>

</section>
